@model QuizApp.Models.Test


<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<h2>Question <span id="question-number">@TempData["CurrentQuestionId"]</span> / <span id="question-count">@ViewData["QuestionsCount"]</span></h2>
<h3 id="question-text"></h3>
<ul id="answer-list"></ul>

<script>
    $(document).ready(function () {
        $.ajax({
            type: "GET",
            url: "/Test/GetNextQuestion",
            success: function (data) {
                updateView(data);
            }
        });
    });

    function answerSelected(answerId) {
        $.ajax({
            type: "POST",
            url: "/Test/GetNextQuestion",
            data: { answerId: answerId },
            success: function (data) {
                updateView(data);
            }
        });
    }

    function updateView(test) {
        //var currentQuestion = test.
        var currentAnswers = test.answers[0];
       // $("#question-number").text(test.currentQuestionId);
       // $("#question-count").text(test.answers.length);
        $("#question-text").text(test.content);

        var answerList = $("#answer-list");
        answerList.empty();
        $.each(test.answers, function (index, answer) {
            var listItem = $("<li>");
            var radioButton = $("<input type='radio' name='answer' value='" + answer.id + "'>");
            radioButton.click(function () {
                answerSelected(answer.id);
            });
            var answerText = $("<span>").text(answer.content);
            listItem.append(radioButton);
            listItem.append(answerText);
            answerList.append(listItem);
        });
    }
</script>